<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>HTML Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet">
</head>

<body>
<div class="container body-content">


    <div class="container">


        <div class="row justify-content-center" style="padding-top:10px;">


            <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
                 src="yoda-hot-air.jpg"/>


        </div>
        <div class="row justify-content-center" style="padding-top:10px;">

            <h1 class="text-center ">Pour t'élever en devenant développeur,<br>
                remplir le dossier professionnel il te
                faut</h1>


        </div>


        <div class="col" style="padding-top:20px;">
            <form class="form-signin" method="post" action="login" name="f">

                <h4 class="logo">PadawanDWWM</h4>
                </br>
                <h2 class="form-signin-heading">Please sign in</h2>
                </br>
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                           required="" autofocus=""/>
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="Password" required=""/>

                </p>
                <p>
                    Remember me ?
                    <input type="checkbox" id="remember-me" name="remember-me" class="checkbox"/>

                </p>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </br>

                <a class="py-2 text-dark text-decoration-none" href="/register">New Member ?</a>
            </form>
        </div>


    </div>
</body>

</html>